
.cube3 {

    background: url("../postac4.webp") no-repeat center center;
    width: 50%;
    height: 500px;

}


.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.test {
    position: relative;
    overflow: hidden;
}

.test::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    filter: blur(10px);
    z-index: 50;
}

.element {


    mask-image: linear-gradient(to top, transparent, black 30px);
}

.custom-gradient {
    background-image: linear-gradient(to bottom, black, transparent 20%), linear-gradient(to top, black, transparent 20%), linear-gradient(to right, black, #2563eb 10%);

}

.custom-gradient2 {
}

.iemgie {
    filter: drop-shadow(10px 10px 10px rgba(37, 99, 235, 0.5));


}

