

.cube2 {
    background: url("cube2v3.png");
    background-size: 100%;
    width: 100%;
}
.cube3 {

    background: url("postac4.webp") no-repeat center center; /* Skrócona notacja */
    background-size: 40%;
    width: 50%;
    height: 500px;

}



.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.test {
    position: relative;
    overflow: hidden; /* Zapobiega wystawaniu pseudo-elementów poza komponent */
}

.test::before {
    content: "";
    position: absolute;
    top: -10px; /* Rozszerza pseudo-element poza komponent */
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit; /* Dziedziczy tło komponentu */
    filter: blur(10px); /* Ustawia poziom rozmazania */
    z-index: 50; /* Umieszcza rozmazanie pod treścią komponentu */
}
.element {


    /* Maskowanie przejścia */
    mask-image: linear-gradient(to top, transparent, black 30px);
}
.custom-gradient {
    background-image: linear-gradient(to bottom, black, transparent 20%), linear-gradient(to right, black, #2563eb 10%);

}
.custom-gradient2 {
}